/* CSS CONCERNANT LA TOTALITE DE LA PAGE (BODY, LIENS, ETC...) */


/* BODY */
body{
    background-color: #fff9e6;
    margin:0;
    padding: 0;
    text-align: center;
}

/* LIENS */
a,
a:link,
a:visited,
a:active {
text-decoration: none;
color: black;
}

/* REDUCTION DU BOUTON LORSUQU'ON CLIQUE DESSUS */
.bouton:active{
    transform: scale(0.85);
  }





    /* HEADER INCLUANT LA NAV EN STICKY AVEC UN SOUS-MENU*/


/* HEADER : STICKY EN TOP=0 POUR RESTER EN STICKY 
                AUGMENTATION DE LA POLICE + BORDURE DU BAS POUR DELIMITER */

header{
    position: sticky;
    background-color: #E0A458;
    top: 0px;
    padding: 10px;
    font-size: 1.2rem;
    border-bottom: ridge #E0A458 ;
    }
    
/* SUPPRESSION DU PADDING ET MARGIN DE L'UL DU MENU PRINCIPAL */
header ul{
    padding: 0;
    margin:0;
    }
    

/* MISE EN LIGNE HORIZONTALE DES LI DU MENU PRINCIPALE + MISE EN POSITION RELATIVE POUR AVOIR LE SOUS MENU EN POSITION ABSOLUTE */
header li{
    display: inline-block;
    padding : 10px 70px 10px 70px;
    position : relative;
    }


  /* SOUS MENU : DISPLAY NONE POUR LE CACHER + POSITION ABSOLUTE POUR POUVOIR LE PLACER SOUS SON PARENT (.SUBMENU1) ET LE PLACER AVEC TOP 100% ET LEFT 0 + COULEUR DE FOND + SUPPRESSION DES LISTES + LEGERES OMBRES */
  .submenu2 {
    display : none;
    position: absolute;
    left : 0;
    top : 100%;
    background-color: #E0A458;
    font-size : 1.2rem;
    list-style-type: none;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  }
  


  /* APPARITION DU SOUS MENU2 DES QU'ON PASSE LA SOURIS */
  header ul li:hover .submenu2 {
    display: block;
  }
  
  .submenu2 li {
    display: block;
  }
  
  .submenu2 li a {
    color: black;
    text-decoration: none;
    padding : 0;
  }

/* COULEUR DE FOND DU SOUS-MENU QUAND ON PASSE DESSUS AVEC LE :HOVER */
.submenu1:hover, .submenu2 li:hover {
    background-color: #F0B475;
  }


/* VIDEO DE BIENVENUE */


.multimediatop video{
    width: 100%;
    margin-top: 30px;

}




/* SECTION BIENVENUE */


.bienvenue h1{
    font-size: 2.5rem;


}

.bienvenue, #access{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    background: radial-gradient(circle, rgba(255,249,230,1) 0%, rgba(254,210,154,1) 100%); 
    border-radius: 10px 50px 0px 90px;
    border:solid 2px #E0A458;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
    scroll-margin-top: 80px;
}




/* PROGRAMME */

.programme{
    scroll-margin-top: 80px;
    margin-top: 60px;
    padding-top: 10px;

}

.titreProgramme{
    font-size: 1.5rem;
}


/* IMAGES ET INFORMATIONS DU PROGRAMME */
.concert{
    display: inline-block;
    border-radius: 10px 50px 0px 90px;
    border:solid 2px #E0A458;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
    transition: transform 0.3s;
    background-color: #fff9e6;
    margin: 20px;
    padding: 10px;
}


.programme img{

    height: 150px;
    width: auto;
    padding: 5%;

}

.concert p{
    padding: 10px;
    border-top: ridge 2px #E0A458;
}


.concert:hover{
    transform: scale(1.5);
}


.programme .bouton {
    background-color: #E0A458;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    display : inline-block;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
  }






/* CONTACTS : COORDONNES ET HORAIRES  */


.adresse, .horaires, .tarifs {
    display: inline-block;
    width: 500px;
    height: 400px;
    box-sizing: border-box;
    margin: 50px;
    vertical-align: top;
    font-size: 1.2rem;
    background-color: #FEFADC;
    border-radius: 10px 50px 0px 90px;
    padding: 30px%;
    border: #E0A458 solid 2px;
}


.infosPratiques h2{
    font-size: 2.5rem;
    margin-top: 60px;
    padding-top: 60px;
    border-top: dotted;
    border-color: #E0A458;
}


.infosPratiques h3{
    font-size: 2.5rem;
    border-color: #E0A458;
}


#infosPratiques{
    scroll-margin-top: 30px;
}


.adresse h4{
    margin-bottom: 0px;
    padding-top: 15px;
}

.adresse p{
    margin-top: 0px;
}

#access{
    display: inline-block;
    margin-top:100px;
    margin-bottom: 100px;
}

#tarifs{
    scroll-margin-top: 80px;
}

/* HORAIRES (TABLEAU) */

.titlehoraire, .titletarifs{
    font-size: 2.3rem;
}


table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #E0A458;
    padding: 15px;
}



