body{
    padding: 0;
    margin:0;
}


header{
    position: sticky;
    background-color: #FEFADC;
    border-bottom: ridge #F6D4BA ;
}


.nav-general li{
    display: inline-block;
}

.nav-dropdown li{
    display: block;
}


.nav-dropdown details{
    display: inline-block;
    position: relative;
}


.nav-dropdown ul{
    position: absolute;
}






